.products-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}
/* کارت محصول */
.card {
    background-color: #ffffffdf;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    padding: 16px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* تصویر محصول */
.card .product-image img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

/* عنوان و توضیحات */
.card .title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #222;
}

.card .desc {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

/* بخش قیمت */
.card .cost {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.card .discount {
    background-color: #336CB1;
    color: white;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.8rem;
}

.card .old-price {
    font-size: 0.9rem;
    color: #888;
    text-decoration: line-through;
}

/* قیمت اصلی */
.card .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 12px;
}

/* دکمه افزودن به سبد خرید */
.add-to-cart {
    display: inline-block;
    color: #fff;
    text-decoration: none; /* حذف underline لینک */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.add-to-cart:hover {
    background-color: #336CB1;
    transform: translateY(-5px);
}


/* ریسپانسیو کارت‌ها */
@media (max-width: 768px) {
    .card {
        padding: 12px;
    }

    .card .title {
        font-size: 1rem;
    }

    .card .price {
        font-size: 1.1rem;
    }

    .card .add-to-cart {
        padding: 8px 14px;
        font-size: 0.9rem;
    }
}


.shipping {
    display: inline-block;
    background-color: #f0f0f0;
    color: #2ecc71;
    font-size: 0.85rem;
    padding: 3px 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}