.container-info{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-password{
    /* padding: 0.3rem 0.5rem; */
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border: 2px dashed black;
    background-color: rgba(128, 128, 128, 0.125);
    width: fit-content;
}

.serverText{
    font-weight: 700;
    font-size: 1.2rem;
    margin: 20px;
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-btn{
    display: flex;
    justify-content: center;
    width: fit-content;
    flex-direction: column;
    text-decoration: none;
}