
.login-wrapper svg {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    z-index: 0;
    top: 25%;
    left: 53.7%;
    max-width: 27%;
    transition: transform 0.4s ease;
}

/* حالت عادی گوشی */
#phoneGroup {
    transform: translate(4%, 3%) rotate(0deg);
    transform-origin: center;
    transform-box: fill-box;
    transition: transform 0.4s ease;
}

#face {
    transform: translate(4%, 10%) rotate(0deg);
    transform-origin: center;
    transform-box: fill-box;
    transition: transform 0.4s ease;
}

#rightHand {
    transform: translate(0, 0) rotate(25deg);
    transition: all 0.5s ease;
}

#leftHand {
    transform: translate(0, 0) rotate(25deg);
    transition: all 0.5s ease;
}

#righLeg {
    transform: translate(0, 0) rotate(0);
    transition: all 1s ease;
}

#leftLeg {
    transform: translate(0, 0) rotate(0);
    transition: all 0.5s ease;
}

/* وقتی روی input فوکوس است */
.focus #phoneGroup {
    transform: translate(110%, 10%) rotate(23deg);
}

.focus #face {
    transform: translate(350%, 60%) rotate(23deg);
}

.focus #rightHand {
    transform: translate(60%, -5%) rotate(32deg);
}

.focus #leftHand {
    transform: translate(63%, -10%) rotate(40deg);
}

.focus #rightLeg {
    transform: translate(32%, 6%) rotate(0deg);
}

/* .focus #leftLeg {
    z-index: 5;
    transform: translate(45%, -10%) rotate(40deg);
    transition: all 0.1s ease;
} */

/* ریسپانسیو موبایل */
/* @media (max-width: 480px) {
    .login-wrapper svg {
        top: 25vh;
        max-width: 90%;
    }

    .focus #phoneGroup,
    .focus #face,
    .focus #rightHand,
    .focus #leftHand {
        transform: translate(calc(var(--x, 0)), calc(var(--y, 0))) rotate(var(--rotate, 0deg));
    }
} */